body {
  background: #808080;
  font-family: sans-serif;
  text-align: center;
  color: white;
}
p {
  color: #fff4e6;
}
button {
  font-size: 1em;
  padding: .25em;
  margin: .5em;
  border-radius: .5em;
}
